
<a class="dashboard-item border-info" href="/admin/posts">
	<i class="fa fa-group"></i>
	<h2>{$posts_num}</h2>
	<h5>图片文章</h5>
</a>

<a class="dashboard-item border-warning" href="/admin/terms/tags">
	<i class="fa fa-cubes"></i>
	<h2>{$tags_num}</h2>
	<h5>标签总数</h5>
</a>
<a class="dashboard-item border-primary" href="/admin/terms/classify">
	<i class="fa fa-reddit"></i>
	<h2>{$classify_num}</h2>
	<h5>分类总数</h5>
</a>

<!-- <a class="dashboard-item border-danger" href="__MODULE__/goods/index">
	<i class="fa fa-cubes"></i>
	<h2><?php //echo $goodscount; ?></h2>
	<h5>产品总数</h5>
</a>
 -->