<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link href="//cdn.bootcss.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/static/admin/admin.css"/>
		<link rel="stylesheet" type="text/css" href="/static/cnavi/cnavi.css"/>

		<script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
		<link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<title> 后台模板-后台管理 </title>
	</head>
	<body>
		<include 'public:nav' />
		<div class="cbody">
			<div class="cside col-md-2"> <include 'public:menu' /> </div>
			<div class="cmain col-md-10"> {__LAYOUT__} </div>
		</div>
		<!-- alert -->
        <div class="info-frontend"> </div>
		
		<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/static/cnavi/cnavi.js?v=1.0"></script>
		<script type="text/javascript" src="/static/admin/admin.js?v=1.0"></script>
	</body>
</html>
